.hero-container , .footer {
    background-color: #1f2937;
    color: #f9faf8;
    margin: auto;
    

}
.hero-container
.header{
    font-size: 24px;


}
.links{
    font-size: 18px;
    color: #e5e7eb;

}
button{
    border-radius: 10px;
    background: #3894db;
    border: 2px solid #f9faf8;
    padding: 10px;
    color: #f9faf8;
    
}
.pbold{
    font-size: 48px;
    font-weight: bold;
    margin: auto;
}
.box-1{
    padding: 50px;
    text-align: center;
    
}
.box-2{
    background-color: lightgray;
    padding:50px;
    text-align: center;
}
.footer{
    padding: 50px;
    text-align: center;
}
.flex-container{
    display: flex;
    
}
.box{
    padding: 20px;
    flex: 2px;
    border: 2px solid #3894db;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 10px;
}
.box1{
    padding: 90px;
    flex: 2px;
    border: 2px solid #3894db;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #3894db;
    color: #e5e7eb;
}